body {
  margin: 0px;
  padding: 0px;
  background-color: aqua;
}
h3 {
  text-align: center;
}
.card {
  padding: 2px;
  background-color: #0a0a0a;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
}
.container {
  height: 70vh;
  margin: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cssbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
